@model MvcEditableGrid.Models.UserInterest
@{
    var o = new { Option = 1, Name = "YES" };
    var o1 = new { Option = 2, Name = "NO" };
    var o2 = new { Option = 3, Name = "BOTH" };
    var list = new[] { o, o1, o2 }.ToList();
    var listItems = new SelectList(list, "Option", "Name", Model.Option);
}
<tr>
    @using (Html.BeginCollectionItem("Interests"))
    {
        <td>
            @*@Html.LabelFor(model => model.InterestText)*@
            @Html.HiddenFor(model => model.Id)
            @*@Html.ValidationMessageFor(model => model.InterestText)*@
        </td>
        <td>
            @Html.LabelFor(model => model.InterestText)
            @Html.EditorFor(model => model.InterestText)
            @Html.ValidationMessageFor(model => model.InterestText)
        </td>
        <td>
            @Html.DropDownListFor(model => model.Option, listItems)
        </td>
    }
</tr>